<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="container animated-border p-4 rounded contact-form">
          <div class="contact-header">
            <h1 class="per"><b>Contact</b></h1>
          </div>
          <form class="needs-validation" novalidate>
            <div class="mb-3">
              <input type="text" class="form-control contact-input" id="nameInput" placeholder="Your Name" required>
              <div class="invalid-feedback">
                Please enter your name.
              </div>
            </div>
            <div class="mb-3">
              <input type="email" class="form-control contact-input" id="emailInput" placeholder="Your Email" required>
              <div class="invalid-feedback">
                Please enter a valid email address.
              </div>
            </div>
            <div class="mb-3">
              <textarea class="form-control contact-message" id="messageInput" rows="5" placeholder="Your Message" required></textarea>
              <div class="invalid-feedback">
                Please enter your message.
              </div>
            </div>
            <div align="center">
              <button type="submit" class="btn btn-primary contact-submit"><i class="bi bi-send"></i> Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>