<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 mb-3">
        <h5>Enlaces Útiles</h5>
        <ul class="list-unstyled">
          <li><a routerLinkActive="activo" routerLink="/inicio">Home</a></li>
          <li><a routerLinkActive="activo" routerLink="/posts">Research</a></li>
          <li><a routerLinkActive="activo" routerLink="/categoria">Categories</a></li>
          <li><a routerLinkActive="activo" routerLink="/autor">Authors</a></li>
          <li><a routerLinkActive="activo" routerLink="/about">About us</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4 mb-3">
        <h5>Contacto</h5>
        <ul class="list-unstyled">
          <li>Email: bcelopez.sm&commat;gmail.com</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4 mb-3">
        <h5>Síguenos</h5>
        <div class="social-icons">
          <a href="https://www.facebook.com" target="_blank" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com" target="_blank" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://www.researchgate.net/profile/Blanca-Lopez-Ramirez#:~:text=Blanca%20LOPEZ-RAMIREZ%20|%20Cited%20by%2059%20|%20of%20Instituto" target="_blank" aria-label="ResearchGate"><i class="bi bi-door-closed"></i></a>
          <a href="https://www.youtube.com/channel/UCXNuvbrp71_wJxNd29371wQ" target="_blank" aria-label="YouTube"><i class="bi bi-youtube"></i></a>
          <a href="https://www.tiktok.com/@chismesdelaboratorio" target="_blank" aria-label="TikTok"><i class="bi bi-tiktok"></i></a>
          <a href="podcasters.spotify.com/pod/show/chismes-de-laboratorio" target="_blank" aria-label="Spotify"><i class="bi bi-spotify"></i></a>
        </div>
      </div>
    </div>
    <div class="copy mt-3 text-center">
      &copy; 2024 InvesTigaRed. Todos los derechos reservados.
    </div>
  </div>
</footer>
