<!-- <nav class="navbar navbar-expand-lg bg-body-primary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="activo" aria-current="page" routerLink="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="activo" routerLink="/autor">Autores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="activo" routerLink="/posts">Post</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu">
              @for (categoria of categorias; track categoria.id){
                <li><a class="dropdown-item" [routerLink]="['categoria', categoria.id]">{{ categoria.nombre }}</a></li>  
              }         
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="activo" routerLink="/posts">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Mi Sitio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/inicio">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/posts">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/autor">Author</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactSection">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutSection">About us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>