<br>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card mb-4 animated-border">
                <div class="card-body text-center">
                    <h5 class="card-title per">Perfil y Posts</h5>
                    <p class="card-text text-white">Aquí puedes gestionar tu Perfil y tus Publicaciones.</p>
                    <a class="btn text-white d-flex justify-content-center" [routerLink]="['/perfil']"><i class="bi bi-person-vcard-fill fa-10x"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4 animated-border">
                <div class="card-body text-center">
                    <h5 class="card-title per">Categorias</h5>
                    <p class="card-text text-white">Administra las categorías de tus publicaciones.</p>
                    <a class="btn text-white d-flex justify-content-center" [routerLink]="['/admin', 'categorias']"><i class="bi bi-bookmark-plus-fill fa-10x"></i></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4 animated-border">
                <div class="card-body text-center">
                    <h5 class="card-title per">Usuarios</h5>
                    <p class="card-text text-white">Administra todos los usuarios de tu plataforma.</p>
                    <a class="btn text-white d-flex justify-content-center" [routerLink]="['/admin', 'usuarios']"><i class="bi bi-person-fill-add fa-10x"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card animated-border">
                <div class="card-body text-center">
                    <h5 class="card-title per">Todos los Posts</h5>
                    <p class="card-text text-white">Administra los Posts de tu plataforma.</p>
                    <a class="btn text-white d-flex justify-content-center" [routerLink]="['/admin', 'admPosts']"><i class="bi bi-postcard-heart-fill fa-10x"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="linea-asombrosa"></div>
</div>
<br><br><br><br><br>