<br>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div style="display: flex;align-items: center;" class="autor tracking-in-expand">
                <img src="{{ assets+autores.data?.foto }}" class="img-thumbnail" alt="Foto del autor">
                <div>
                    <p class="text-white" style="margin-left: 20px;">{{autores.data?.profesion}}</p>
                    <h2 class="per" style="margin-left: 20px;"><b>{{autores.data?.name}}</b></h2>
                    
                </div>
            </div>
            <div class="linea-asombrosa tracking-in-expand"></div>
            <p class="text-white tracking-in-expand">{{autores.data?.acerca}}</p>
        </div>
    </div>
</div>
<br><br>