<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
@if(isLogin){
    <app-navmin></app-navmin>
}@else{
    <app-navbar></app-navbar>
}
<div class="bg-black">
    <!-- el class container modifica el tamaño de los objetos en el inicio class="container" -->
    <div>
        <router-outlet></router-outlet>
    </div>
</div>

<div class="bg-black">
    <app-footer></app-footer>
</div>
